In [1]:
import pandas as pd

Getting de postal data and the geolocalization data from CSV file

In [2]:
post_df = pd.read_csv('Postal_Code_df.csv')
post_df.head()

,Unnamed: 0,Postal Code,Borough,Neighbourhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [3]:
geo_df = pd.read_csv('Geospatial_Coordinates.csv')
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [4]:
# delete the extra column on post_df
post_df.drop("Unnamed: 0", axis = 1, inplace=True)

merging the two dataframes

In [5]:
result = pd.merge(post_df,geo_df, how='left', on=['Postal Code'])

In [6]:
result.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

Exporting the result

In [7]:
result.to_csv('PCode_geodf.csv')